.main {
  display: none;//block
  &__seeing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    @include element-fluid(20, 100, "margin-block");
    width: min(95vw, 1920px);

    .seeing__image {
      @include element-fluid(75, 300);
      user-select: none;
    }

    .seeing__present {
      @include element-fluid(200, 800);
      @include element-fluid(100, 400, "height");
      @include element-fluid(10, 40, "border-radius");
      @include element-fluid(25, 100, "font-size");
      background-color: rgb(43, 90, 59);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @include element-fluid(75, 300);
      }
      span {
        margin: 0 0.2rem;
        position: relative;
        &.letters {
          @include element-fluid(10, 40);
          align-items: center;
          user-select: none;
          &::after {
            content: "";
            position: absolute;
            width: 95%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
          }
        }
        &.hide {
          color: transparent;
        }
      }
    }
    .seeing__clock {
      @include element-fluid(50, 200);
      @include element-fluid(50, 200, "height");
      @include element-fluid(50, 200, "margin-top");
      cursor: pointer;
      user-select: none;
    }
  }

  &__input-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    column-gap: 10px;
    input {
      @include element-fluid(40, 160);
      @include element-fluid(40, 160, "height");
      @include element-fluid(20, 80, "font-size");
      @include element-fluid(5, 20, "border-radius");
      border: 1px solid black;
      background-color: #eee;
      cursor: pointer;
      &.long {
        @include element-fluid(70, 280);
      }
    }
  }
}